#ssmv.service
[Unit]
Description=Moves files from %h/pictures/Screenshots to %h/pictures/screenshots and deletes %h/pictures/Screenshots
Requires=

[Service]
Type=oneshot
# Set ExecStart to location of ssmv.sh script, e.g., /usr/local/sbin/ssmv
ExecStart=/usr/local/sbin/ssmv

[Install]
Also=ssmv.path


